.search_bar_box {
  min-height: 0.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fbf5e7;
  border-bottom: 1px solid lightgray;
  padding: 0 0.1rem;
  .bar_title {
    font-size: 0.12rem;
    margin-right: 0.05rem;
    span:first-child {
      font-weight: 400;
    }
    span:nth-child(2) {
      font-weight: 200;
    }
  }
}
